body /*main for whole site, things like backgorund etc*/
{
    background-color: black;
    color:white;
    font-family: 'The Nautigal';
    font-size: 30px;
}
#container /* All divs in one, whole site */
{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    color:white;
    margin-top: 20px;
    font-size: 100px;
    letter-spacing: 3px;;

}
#menu
{
    background-color: #303030;
    margin-top: 20px;
    color:white;
    padding: 10px;
}
#topbar
{
    background-color: gray;
    color: blueviolet;
    padding:10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 170px;
}
#topbarL
{
    float:left;
    padding: 20px;
    width: 138px;
    text-align: center;
    border-right:2px dotted #cccc;
}
#topbarR
{
    float: left;
    padding: 20px;
    width: 760px;
    font-size: 25px;
    text-align: justify;
}
#sidebar
{
    float: left;
    width: 150px;
    min-height: 20px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    font-size: 25px;
    color:black;
    border-right: 2px dotted #6666666;
}
#content
{
    float: left;
    padding: 40px;
    width: 730px;
    min-height: 580px;
    text-align: justify;
}
#footer
{
    clear: both;
    color: white;
    text-align: center;
    font-size: 30px;
}
.option
{
    float:left;
    min-width: 50px;
    height: 25px;
    font-size: 25px;
    padding:10px;
    font-weight: 700;
    border-right: 2px dotted #444;
    opacity: 0.8;
}
.option:hover
{
    background-color: #818181;
    cursor: pointer;
}
.optionL
{
    font-size: 20px;
    height: 25px;
    padding: 10px;
    border-bottom: 2px dotted #444444;
}
.optionL:hover
{
    background-color: #f36742;
    color: white;
}
.bigtitle
{
    font-size: 50px;
    font-weight: 700;
}