body /*main for whole site, things like backgorund etc*/
{
    background-color: #303030;
    color: #ffffff;
    font-family: 'Luxurious Roman', cursive;
    font-size: 20px;
}
#contianer /* All divs in one, whole site */
{
    width: 1000px; /*how width is the site, in here it is stable amount not changable */
    margin-left: auto;
    margin-right: auto;
}
.rectangle /*rectangle on he page, it is class for it can be used for multiple objects*/
{
    width: 960px;
    margin: 20px;
    text-align: center;
}
.square /*class for big square on the page*/
{
    width: 50%;
    float: left;
}
#logo /*Header of the website*/
{
    float: left;
    font-family: 'Luxurious Roman', cursive;
    font-size: 70px;
    width: 600px;
    text-align: left;
}
#clock /*Timer it tells the time if you look at it*/
{
    float: left;
    font-family: 'Luxurious Roman', cursive;
    font-size: 70px;
    text-align: left;
}
.tile1 /*one of the square elements in bigger square*/
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}
.tile1:hover /*When you drag your mouse above the square elemts*/
{
    background-color: #2084c2;
}
.tile2 /*other of the square elements in bigger square*/
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
}
.tile2:hover /*When you drag your mouse above the square elemts*/
{
    background-color: #555555;
}
.tile3 /*other other of the square elements in bigger square*/
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
}
.tile3:hover /*When you drag your mouse above the square elemts*/
{
    background-color: #82b637;
}
.tile4 /* bigger, long  rectangle in bigger square*/
{
    margin: 10px;
    width: 420px;
    height: 82px;
    background-color: #ee5a32;
    text-align: center;
    font-size: 36px;
    padding: 30px;
    line-height: 150%;
}
.tile5 /* a little bigger rectangle inside bigger squares*/
{
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color: #666666;
    text-align: justify;
    padding: 30px;
}
.yt /*small square with social media logo in it*/
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d94348;
    float: left;
}
.yt:hover
{
    background-color: #c83237;
}
.fb /*small square with social media logo in it*/
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #4668b3;
    float: left;
}
.fb:hover
{
    background-color: #3557a2;
}
.gplus /*small square with social media logo in it*/
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d95333;
    float: left;
}
.gplus:hover
{
    background-color: #c84222;
}
.tw /*small square with social media logo in it*/
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #3095d3;
    float: left;
}
.tw:hover
{
    background-color: #2084c2;
}
a.tilelink /*stylizing likns tiles*/
{
    color:white;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;
}
a.tilelinkblock /*stylizing likns tiles but for whole block*/
{
    color:white;
    text-decoration: none;
}